$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;
$lightOrange: #DDBC99;
$darkOrange: #8B3E03;
$white: #fff;
$lightPink: #FADCBA;
$grey: #eee;
$black: #000;
$blue: #0000EE;
$link: $blue !default;
$bodyColor: $lightOrange !default;
$textColor: $black !default;
$h1Color: $darkOrange !default;
$h2Color: $darkOrange !default;
$briefColor: $lightPink !default;
$borderColor: $darkOrange !default;
$thTableBG: $grey !default;
$thTableBD: $white !default;
$borderTable: $grey !default;
$contentColor: $white !default;
$tdBG: $white !default;
$floatBrief: left !default;
$briefWidth: 35% !default;
$imgPadding: 2px !default;
$imgBorder: 2px !default;
$fontStyleI: italic !default;
$briefFS: $fontStyleI !default;
$fontWeight: bold !default;