$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
$lightOrange: #649900;
$darkOrange: #FFCD0F;
$white: #fff;
$lightPink: #FADCBA;
$grey: #eee;
$black: #000;
$borderColor: #fff;
$contentColor: #666701;
$blue: #0000EE;
$textColor: $white;
$link: $darkOrange;
$thTableBG: #94A34E;
$thTableBD: #94A34E;
$borderTable: #94A34E;
$tdBG: #657E00;
$briefColor: #657E00;
$floatBrief: none;
$briefWidth: 98%;
$imgPadding: 10px;
$imgBorder: 1px;
$fontStyleI: normal;
$link: $blue !default;
$bodyColor: $lightOrange !default;
$textColor: $black !default;
$h1Color: $darkOrange !default;
$h2Color: $darkOrange !default;
$briefColor: $lightPink !default;
$borderColor: $darkOrange !default;
$thTableBG: $grey !default;
$thTableBD: $white !default;
$borderTable: $grey !default;
$contentColor: $white !default;
$tdBG: $white !default;
$floatBrief: left !default;
$briefWidth: 35% !default;
$imgPadding: 2px !default;
$imgBorder: 2px !default;
$fontStyleI: italic !default;
$fontWeight: normal;
$fontWeight: bold !default;