@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin float($float, $margin...) {
    float: $float;
    @include clearfix;
    margin: $margin;
}